#menu .navbar{
    
    margin-bottom: 0px;
}
#menu .navbar-default{
    background-image: linear-gradient(to bottom, #5cb85c 0%, #11f114 100%);
    color: #ffffff;
}
#menu  .navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 0 2px 0 #2e6da4;
}
#menu  .navbar-default .navbar-nav > li {
    padding-right: 25px;
}
#main_slide{
    padding: 0px 0px;
}
#feature_post img{
    width: 100%;
    height: 250px;
}